<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bye.css" />
  </head>
  <body>
    <h1>this is page bye</h1>
    <a class="bye" href="/">go to page hello</a>
  </body>
</html>